.all {
    border: 1px solid #454545;
    color: #F5F5DC;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
}

.all:nth-of-type(3) {
    margin-right: 0;
}

.active{
    background: #FAD7A0;
    border: 1px solid #454545;
    color: #2C2C2C;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
}
