.item-add-form {
    display: flex;
    justify-content: space-between;
}

.input-text {
    width: 350px;
}

.add {
    width: 100px;
    height: 30px;
    border: 1px solid #454545;
    color: #F5F5DC;
    font-family: Caveat, CormorantInfant, SourceSansPro;
    font-size: 20px;
    margin-right: 0;
}

.add:hover {
    background: #D5D8DC;
    color: #2C2C2C;
}
